extends ../layout-letter

block content
	.row-fluid
		.span12
			for group in data
				if group.yicYouthOnOwn != 0 || group.yicWithSupport != 0 || group.yicAsSupport != 0
					h3 Affiliation: #{group.groupInformation.affiliation}
					p Youth On Own Total: #{group.yicYouthOnOwn}
					p Youth With Support Total: #{group.yicWithSupport }
					p Support People Total: #{group.yicAsSupport}

