extends ../layout

block content
	.row-fluid
		h1 Register
		form.form-horizontal(action="/api/signup", method='post')
			fieldset
				legend Login and Primary Contact Information
				p This information should reflect the email and password of your group's primary contact. 
				p The primary contact for each group will be contacted for information, payment, and announcements that are important for all delegates. It is not assumed that the primary contact will be attending the conference. If you are the <b>primary contact</b>, and plan on attending, please also add yourself as a member of the group after registration

				p Please keep this information in a safe place.
				.well
					.control-group
						label.control-label Name
						.controls
							input(type="text", name="name", placeholder="Name", required)
					.control-group
						label.control-label Email
						.controls
							input(type="text", name="email", placeholder="Email", required, data-content="This is the email for the primary contact of your group. We will send all communications to this email.")
							br
							small This will be your login!
					.control-group
						label.control-label Password
						.controls
							input(type="password", name="pass", placeholder="Pass", required)
					.control-group
						label.control-label Password (again!)
						.controls
							input(type="password", name="passConfirm", placeholder="Pass Confirmation", required, data-content="This should be the same as your password above.")
					.control-group
						label.control-label Phone #
						.controls
							input(type="text", name="phone", placeholder="Phone", required, data-content="If you're coming to the conference you might want to consider using your cell number, that way we can get in touch with you during the event.")

			fieldset
				legend Group Information
				p If you are representing an organization, please fill out the following for your organization.
				p Are you an individual? Please fill out your personal information here, for 'Affiliation' please put 'Individual'.
				.well
					.control-group
						label.control-label Affiliation
						.controls
							input(type="text", name="affiliation", placeholder="Affiliation", required, data-content="Please list the name of the group/band/school/Friendship Centre etc. that you are registering.")
					.control-group
						label.control-label Address
						.controls
							input(type="text", name="address", placeholder="Address", required, data-content="The First Line of your mailing address. For the VNFC, this would be '231 Regina Avenue', for example.")
					.control-group
						label.control-label City
						.controls
							input(type="text", name="city", placeholder="City", required)
					.control-group
						label.control-label Province
						.controls
							input(type="text", name="province", placeholder="Province", required)
					.control-group
						label.control-label Postal Code
						.controls
							input(type="text", name="postalCode", placeholder="Postal Code", required, data-content="Please include the space. For example, 'V8Z 1J6'")
					.control-group
						label.control-label Fax
						.controls
							input(type="text", name="fax", placeholder="Fax", data-content="This is not required, but if you don't give us a fax number, all documents sent to you will be via email.")

			br
			
			.alert.alert-success
				input.btn.btn-block.btn-large.btn-primary(type="submit", value="Register")
				h4 Thank you for submitting your registration!
				p The Gathering Our Voices team will review your registration and send you an email response which can include the following: request for missing information, payment arrangements, workshop registration details, or final confirmation when registration is complete.
