.modal.hide.fade#login(tabindex='-1', role='dialog', aria-labelledby='loginLabel', aria-hidden='true')
	form.form-horizontal((action="/api/login", method='post', style="margin-bottom: 0px")
		.modal-header
			.close(data-dismiss='modal', aria-hidden='true')
				| x
			h3#addLabel Log In
		.modal-body
			.control-group
				label.control-label Primary Contact Email
				.controls
					input(type="text", name="email", placeholder="example@gmail.com")
			.control-group
				label.control-label Password
				.controls
					input(type="password", name="pass", placeholder="•••••••••••")

			a(href="/account/signup") Don't have an account?
			br
			a(href="/account/startRecovery") Forgot your password?

		.modal-footer
			button.btn(data-dismiss='modal', aria-hidden='true') Cancel
			input.btn.btn-primary(type='submit', value='Log In!')