extends templates/layout

block content
  .container.marketing
    .row.featurette
      .col-sm-12
        h2.featurette-heading
          span.text-muted Bright 
          | Lights, 
          span.text-muted Big 
          | City, 
          span.text-muted Incredible 
          | Opportunities
        p.lead We are honoured to hold Gathering Our Voices 2014 on the traditional territory of the Musqueam, Squamish, and Tsleil-waututh Nations.

        p From March 18th through 21st GOV will hold the floors of the Hyatt Regency and Fairmont hotels in Vancouver, B.C. Young people from all across Canada are invited to join us in a celebration of our culture, values, arts, beliefs, and most importantly, our passion.

        p Up to 2000 youth, chaperones, presenters, exhibitors, elders, volunteers, and other guests will have the opporunity to make new connections, reforge old bonds, rekindle their passions, and discover a new drive. How can we improve the present? How can we create a brighter future for ourselves? Are we prepared to face the upcoming challenges? 

        p Join us and learn from pillars of our community, hear their stories, their stuggles, their triumphs. Then, forge your own way by creating your own special blend of workshops, it's your choice what you learn, just as it's your future. Spend your evenings participating in our live talent show and dance. Finally, reconnect if your roots during our closing cultural morning.
    
    hr.featurette-divider

    .row.featurette
      .col-sm-7
        h2.featurette-heading
          span.text-muted A Glimpse Of 
          | The Past
        p The BCAAFC has previously hosted eleven Aboriginal Youth Conferences. Youth delegates and chaperones from all over the country travel at their own expense to attend these conferences. The first two conferences hosted over 100 youth attendees, while the third saw attendance triple to over 460 youth delegates.

        p The fourth and fifth conferences doubled attendance to over 800 youth. The 2008 Conference in Victoria had nearly 1000 people in attendance; the 2009 Conference in Kelowna had 1300 people attend; the 2010 Conference in Vancouver and the 2011 Conference in Prince Rupert, over 1500 people took part, in Nanaimo over 1600 people gathered together and in Penticton more than 2000 people participated. This overwhelming response serves to reinforce the need for a forum where Aboriginal youth can come together to begin to make positive changes in their own lives and in their communities.

        p The purpose of these conferences is to unite youth from throughout the country in learning, healing and sharing and to provide tangible experiences of tools, resources and knowledge that the youth can bring back to their communities.
      .col-sm-5(style="text-align: center")
        img.img-rounded(src="/img/about/past.jpg", style="width: 100%")
    
    hr.featurette-divider

    .row.featurette
      .col-sm-5(style="text-align: center")
        img.img-rounded(src="/img/about/bcaafc.jpg", style="width: 100%")
      .col-sm-7
        h2.featurette-heading
          span.text-muted Hosted by   
          | BCAAFC, BCAAFC-PAYC
        p.lead The BC Association of Aboriginal Friendship Centres and their Provincial Aboriginal Youth Council
        p The BCAAFC is mandated to:
        ul
          li To promote the betterment of Aboriginal Friendship Centres in the Province of British Columbia.
          li To establish and maintain communications between Aboriginal Friendship Centres and other Provincial Associations and the National Association of Friendship Centres.
          li To act as a unifying body for Aboriginal Friendship Centres.
          li To provide an Association for Government Agencies to communicate through and obtain information from. This, in no way takes away a centre's right to negotiate directly with any agency.
          li To advise the Government, when requested by the collective centres, on how and what programs may assist Aboriginal Friendship Centres, in the development programs to better the lives of Aboriginal Native people in British Columbia.

    hr.featurette-divider