extends templates/layout

block content
  .container
    .row
      .col-sm-2
      .col-sm-8
        h1 FAQ
        p.text-muted There haven't been any questions asked yet! Please email dpreston@bcaafc.com if you have any questions.