extends templates/layout

block content
  .container
    .row
      .col-sm-2
      .col-sm-8
        h1 FAQ
        
        section#videos
          h2 How-To Videos
          p We've put together some helpful videos on how to do basic things on the site, like registering, logging in, editing group details, and adding members. The narration is a bit quiet, make sure you're volume's up!
          iframe(width="350" height="315" src="//www.youtube-nocookie.com/embed/jlZBmgZS6O8?rel=0" frameborder="0" allowfullscreen)
          iframe(width="350" height="315" src="//www.youtube-nocookie.com/embed/x_FZ5C24Qkw?rel=0" frameborder="0" allowfullscreen)
          iframe(width="350" height="315" src="//www.youtube-nocookie.com/embed/PqNdtW0jrcI?rel=0" frameborder="0" allowfullscreen)
          iframe(width="350" height="315" src="//www.youtube-nocookie.com/embed/BcUxaU97Hts?rel=0" frameborder="0" allowfullscreen)
          iframe(width="350" height="315" src="//www.youtube-nocookie.com/embed/vmHxIPAYqNo?rel=0" frameborder="0" allowfullscreen)
        
        section#attendees
          h2 Groups & Attendees
          h4 What's up with all the different types?
          p Attendees are broken down into 4 different types at Gathering Our Voices. This is a slight change from previous years where there were only 3 types.
          p Types of Attendees:
            .label.label-info Y
            |  This denotes a Youth, 14-17 years old. These attendees legally require supervision by their chaperones. Up to 5 youth can be in a group per chaperone (or young chaperone!) Youth are generally eligible for most workshops.
            br
            .label.label-success YA
            |  This denotes a Young Adult, 18-24 years old. These attendees require no supporting chaperones. Young Adults are generally eligible for most workshops.
            br
            .label.label-warning YC
            |  This denotes a Young Chaperone, 21-24 years old. These attendees are able to support up to 5 youth. Young Chaperones are generally eligible for most workshops.
            br
            .label.label-danger Ch
            |  This denotes a Chaperone, 24+ years old. These attendees are able to support up to 5 youth. Chaperones are generally only eligible for special workshops.
            br
            .label.label-default NA
            |  This denotes a member who has not had their type assigned. This generally means the registration system has encountered an error, you're encouraged to edit the attendee and assign them a type.
            br
          h4 How do I edit an attendee's information?
          p In the 'Account' page, simply click on their red or green button labelled "Complete" or "Incomplete" in the third column. You should then be able to scroll down and edit their information. On a slow internet connection this may take a few seconds.

        section#workshops
          h2 Workshops
          h4 Which workshops conflict? When are they?
          p Gathering Our Voices operates using 4 different workshop 'blocks'. Attendees may select either one 3 hour session or two 1.5 hour sessions in each block. In the listing below, workshops in the same block with a different color icon conflict. For example, you couldn't sign up in sessions 1 and 3, since they would conflict.
          p Block 1:
            .label.label-info 1
            |  Wed, March 19, 9:00 am till noon
            br
            .label.label-primary 2
            |  Wed, March 19, 9:00 am till 10:30 am
            br
            .label.label-primary 3
            |  Wed, March 19, 11:00 am till 12:30 pm
          p Block 2:
            .label.label-info 4
            |  Wed, March 19, 1:30 pm till 4:30 pm
            br
            .label.label-primary 5
            |  Wed, March 19, 1:30 pm till 3:30 pm
            br
            .label.label-primary 6
            |  Wed, March 19, 3:30 pm till 5:00 pm
          p Block 3:
            .label.label-info 7
            |  Thurs, March 20, 9:00 am till noon
            br
            .label.label-primary 8
            |  Thurs, March 20, 9:00 am till 10:30 am
            br
            .label.label-primary 9
            |  Thurs, March 20, 11:00 am till 12:30 pm
          p Block 4:
            .label.label-info 10
            |  Thurs, March 20, 1:30 pm till 4:30 pm
            br
            .label.label-primary 11
            |  Thurs, March 20, 1:30 pm till 3:00 pm
            br
            .label.label-primary 12
            |  Thurs, March 20, 3:30 pm till 5:00 pm
            br
          h4 What do the colors mean on the session listing?
          p The colors on the session listing are meant to give you a quick idea how full a given session is.
          p Possible colors:
            .label.label-default 0
            |  This (lack of) color means the workshop is full and cannot accept new members.
            br
            .label.label-danger 0
            |  This color means the workshop is more than 3/4 full.
            br
            .label.label-warning 0
            |  This color means the workshop is more than 1/2 full.
            br
            .label.label-success 0
            |  This color means the workshop is less than 1/2 full.
            br
          h4 How do I see which workshops an attendee is going to?
          p In the 'Account' page, simply click on their "Workshops" button in the fourth column. You may need to scroll down to see their listing. This may take a couple seconds on a slow internet connection.
        p.text-muted Please email dpreston@bcaafc.com if you have any questions that you don't see listed here.