extends templates/layout

block content
  .container
    .row
      .col-sm-12
        h2 Take the Wellness Journey and Become a Wellness Champion!
        p The First Nations Health Authority has identified 4 key wellness streams that represent areas that could greatly improve your health and wellness. Embark on the Wellness Journey by registering for workshops in each of the 4 streams: Being Active, Healthy Eating, Nurturing Spirit and Respecting Tobacco. If you complete the journey by attending all 4 workshops, you will become a Wellness Champion and be eligible to win a prize! Space is limited for this program so the sooner you register – the sooner you can start the Wellness Journey!
        p.lead Prizes:
        ul
          li Age 14-17: Wellness Award of $200 to one youth in each region. (Use the funds to support your personal wellness activities and share your experience.)
          li Age 18-24: Wellness Internship to one youth in each region. (You will be matched to a mentor in your region and given opportunities to support health and wellness events in your region as a paid intern.)