extends layout

block content
	.row-fluid
		.span8.offset2
			h1 Help & FAQs
	.row-fluid
		.span8.offset2
			h2 Video Tutorials
			iframe(width="560", height="315", src="http://www.youtube.com/embed/bxQ8oyKiGpc?list=PLTfsy60W4jp5bXCn2oJCsvGTktaPT4fUA", frameborder="0", allowfullscreen)
			p Hit the 'Playlist' bar at the bottom to see other videos we have added.
	.row-fluid
		.span8.offset2
			h2 Frequently Asked Questions
			a(href="/GOV2013-FAQ.pdf") Printable FAQ
			ol
				li
					h4 How do I register my group for the conference?
				ol
					li Go to the homepage (www.gatheringourvoices.bcaafc.com) and click the black “Register Now” button
					li Fill out the information (for the primary contact first, then for the group/affiliation), then click the orange “Register” button
					li You will receive an automatic email confirming that you have submitted your registration 
					li Click the green “Add new members or edit group information” button
					li You will see your group and primary contact information appear on the page 
					li To make any changes click on the field and update the information, then click the “Submit Changes” button

				li
					h4 How do I add members to my group?
				ol
					li (If you’re not already logged in): log in on the homepage (www.gatheringourvoices.bcaafc.com) using your email address and the password you set when you created your registration
					li Click the green ‘Add new members or edit group information’ button
					li (Once logged in): On the “Group Information” page, you will see 3 tabs on the left (above where it says “Group Information”): “Group Info,” “Members,” and “Billing”. Click on the “Members” tab
					li Click the “Add new…” button (in orange text, on the left side of your screen)
					li Fill out the information you have and click the orange “Add” button on the bottom of the window
					li You will see the new member’s name appear on the left of the page, under their designation (youth, young adult or chaperone)

				li
					h4 I’m still waiting on information for some of my members (ex. care card #’s, emergency contact, etc.). Can I enter what I have now and add the rest later?
				ol
					li Yes, you do not need to wait until you have all of the information in order to start your registration. In fact, the sooner you begin the registration process, the better. You can log in to your account at any time (up until the conference registration day – March 19th) and make any updates or changes that you need

					li I’m still finalizing my list of group members – can I start my registration anyway with the number of members I think I’ll have in my group?
					li Yes, and it is a good idea to create placeholders for any members of your group that you do not have confirmed yet. You can do this by adding a new member (explained above #2), and simply selecting the designation (youth/young adult/chaperone) under the “Type” drop-down box
					li Click “Add” to save the change
					li You will see the placeholder (ex. “Unnamed Member”) appear on the left of the page, under their designation (youth, young adult or chaperone). 

				li
					h4 How do I add more information to an already existing member of my group?
				ol
					li (If you’re not already logged in): log in on the homepage (www.gatheringourvoices.bcaafc.com) using your email address and the password you set when you created your registration
					li Click the green ‘Add new members or edit group information’ button
					li (Once logged in): On the “Group Information” page, you will see 3 tabs on the left side of the page (above where it says “Group Information”): “Group Info”, “Members” and “Billing”. Click on the “Members” tab
					li Find the member you would like to select under their designation (youth/young adult/chaperone) and click on their name
					li When their information appears on the right side of the page, you can scroll down and see what has already been entered and what boxes still need information
					li Add or update any information you need 
					li Be sure to click the orange “Submit changes on _________” button in order to save your changes!

				li
					h4 Some of my members have cancelled – how do I remove them from my list?
				ol
					li (If you’re not already logged in): log in on the homepage (www.gatheringourvoices.bcaafc.com) using your email address and the password you set when you created your registration.
					li Click the green ‘Add new members or edit group information’ button
					li (Once logged in): On the “Group Information” page, you will see 3 tabs on the left side of the page (above where it says “Group Information”): “Group Info,” “Members,” and “Billing”. Click on the “Members” tab
					li Find the member you would like to select under their designation (youth/young adult/chaperone) 
					li Click on the red box marked with an “X” beside his/her name (just once), and click the link on the “are you sure?” alert that pops up (just once)
					li The page will refresh and show your update

				li
					h4 Instead of deleting/removing a member, can I replace him/her with another youth/young adult/chaperone? How do I do this?
				ol
					li Find the member you would like to select (to do this, see above) and click on his/her name
					li When his/her information appears on the right side of the page, replace all of it with the new member’s information
					li Be sure to click the orange “Submit changes on _____” button in order to save your changes!
					li You will see that the new member’s name has replaced the previous member’s name on your list, under their designation (youth/young adult/chaperone)

				li
					h4 When can I register my youth/young adults for workshops? Or why am I not able to register my youth/young adults for workshops yet?
				ol
					li Only groups that have fully completed their registration by providing all of their group members’ information and submitted their payment will be approved to register their youth/young adults for workshops. If you have not completed your registration and/or your payment, you need to do so as soon as possible in order to qualify for workshop registration.  We will send an email to you directly once we verify that your group is approved.
			