extends templates/layout

block content
  //- img(src="/img/gov.png", style="display: block; margin-left: auto; margin-right: auto; height: 300px; text-align: center")
  .container
    .row
      .col-xs-4(style="text-align: center")
        img.img-rounded(src="/img/bg/1.jpg", style="height: 150px")
        h2 Group Registration
        p Come share your spirit with us in Vancouver by registering today. Early Bird pricing ends February 7th.
        p
          a.btn.btn-primary(href="#") Register
      .col-xs-4(style="text-align: center")
        img.img-rounded(src="/img/bg/1.jpg", style="height: 150px")
        h2 Explore Workshops
        p Curious what you can learn at GOV? Take a look at our diverse range of facilitators and workshops.
        p
          a.btn.btn-primary(href="#") Workshops
      .col-xs-4(style="text-align: center")
        img.img-rounded(src="/img/bg/1.jpg", style="height: 150px")
        h2 Volunteer or Facilitate
        p Interesting in making this year a success? Please join us by volunteering or becoming a workshop facilitator.
        p
          .btn-group
            a.btn.btn-primary(href="#") Volunteer
            a.btn.btn-primary(href="#") Facilitate
  .container.marketing
    hr.featurette-divider
    .row.featurette
      .col-md-7
        h2.featurette-heading
          | Listen 
          span.text-muted to inspiring leaders
        p.lead We're working our tails off to find you the best and brightest Aboriginal and non-Aboriginal people alike to motivate your dreams, uplift your spirit, and help you make a better tomorrow.
        p.lead In 2013 we hosted the likes of J.R. LaRose, Evan Adams, Grand Chief Stewart Phillip, Lindsay Willier. The schedule hasn't been confirmed for this year yet, so please stay tuned!
      .col-md-5(style="text-align: center")
        img.img-rounded(src="/img/bg/1.jpg", style="height: 300px")
    hr.featurette-divider
    .row.featurette
      .col-md-5(style="text-align: center")
        img.img-rounded(src="/img/bg/1.jpg", style="height: 300px")
      .col-md-7
        h2.featurette-heading
          | Learn 
          span.text-muted from valuable mentors
        p.lead Explore a diverse selection of workshops that will teach you interesting talents (like Cedar Weaving), enhance your existing skills (like sports), make your more concious of the world around you, or present mind-changing ideas.
        a.btn.btn-block.btn-default(href="#") Explore Workshops
    hr.featurette-divider
    .row.featurette
      .col-md-7
        h2.featurette-heading
          | Live It Up 
          span.text-muted and enjoy the moment
        p.lead Sit back, relax, and enjoy the youth talent show and performances at the opening and closing ceremonies.
        p.lead Or, stand up and get moving at the dance or one of our fitness workshops (starting bright and early!)
      .col-md-5(style="text-align: center")
        img.img-rounded(src="/img/bg/1.jpg", style="height: 300px")
    hr.featurette-divider
    .row.featurette
      .col-md-5(style="text-align: center")
        img.img-rounded(src="/img/bg/1.jpg", style="height: 300px")
      .col-md-7
        h2.featurette-heading
          | Lend a Hand 
          span.text-muted and create meaningful change
        p.lead Return to your community with newfound skills, a broader world view, and new friends to keep in touch with.
        p.lead Keep the spirit alive and better the lives of those around you, work with your new skills and contacts to build, and empower your community.
    hr.featurette-divider