extends templates/layout

block content
  .container
    .row
      .col-sm-4(style="text-align: center")
        img.img-rounded.lazy(data-original="/img/index/register.jpg", style="height: 150px")
        h2 Group Registration
        p Come share your spirit with us in Vancouver by registering today. Early Bird pricing ends February 7th.
        p
          a.btn.btn-primary(href="/register") Register
      .col-sm-4(style="text-align: center")
        img.img-rounded.lazy(data-original="/img/index/workshop_reg.jpg", style="height: 150px")
        h2 Explore Workshops
        p Curious what you can learn at GOV? Take a look at our diverse range of facilitators and workshops, or sign up to facilitate one!
        p
          .btn-group
            a.btn.btn-primary(href="/workshops") Workshops
            a.btn.btn-primary(target="_blank", href="http://www.bcaafc.com/images/stories/PDFs/GOV/2014/GOV%202014%20-%20Facilitator%20Application.doc") Facilitate
      .col-sm-4(style="text-align: center")
        img.img-rounded.lazy(data-original="/img/index/volunteer.jpg", style="height: 150px")
        h2 Volunteer or Exhibit
        p Interesting in making this year a success? Please join us by volunteering! Are you a business or organization? Become an exhibitor!
        p
          .btn-group
            a.btn.btn-primary(target="_blank", href="https://docs.google.com/forms/d/1BUz-upzLmPdb95j8IGBrVtfbpbmQ9RSRL5LgWIk9Ku4/viewform") Volunteer
            a.btn.btn-primary(target="_blank", href="http://www.bcaafc.com/images/stories/PDFs/GOV/2014/GOV%202014%20-%20Exhibitor%20Application.doc") Exhibit
    br
    .row
      .col-sm-6.col-sm-offset-3(style="text-align: center") Want to hear the latest news from GOV? 
        a(href="http://bcaafc.us5.list-manage.com/subscribe?u=2df229be67a6e024a5c741916&id=678827c35e") Sign up for our distribution list!
  .container.marketing
    hr.featurette-divider
    .row.featurette
      .col-sm-7
        h2.featurette-heading
          | Participate 
          span.text-muted in the action
        p Get involved in interactive workshops and exciting shows with others from the community. You'll have the opportunity engage with your colleagues, mentors, and elders in a way that's meaningful.
        
        p Looking to get more from GOV? You can take part in one of our challenges and win a prize, join our talent showcase and prove your salt, or nominate an Aboriginal Youth Champion who's made a difference in your community.
        
        .btn-group
          a.btn.btn-default(target="_blank", href="/documents/go-green-challenge.pdf") Go Green Challenge
          a.btn.btn-default(target="_blank", href="/documents/health-challenge.pdf") Health Challenge
          a.btn.btn-default(target="_blank", href="/documents/honour-a-youth.pdf") Honour A Youth
          a.btn.btn-default(target="_blank", href="/documents/talent.pdf") Talent Showcase
        br
        br
      .col-sm-5(style="text-align: center")
        img.img-rounded.lazy(data-original="/img/index/participate.jpg", style="max-width: 100%;")
    hr.featurette-divider
    .row.featurette
      .col-sm-5(style="text-align: center")
        img.img-rounded.lazy(data-original="/img/index/learn.jpg", style="max-width: 100%;")
      .col-sm-7
        h2.featurette-heading
          | Learn 
          span.text-muted from valuable mentors
        p Explore a diverse selection of workshops that will teach you interesting talents (like Cedar Weaving), enhance your existing skills (like sports), make you more concious of the world around you, or present mind-changing ideas.
        p With a selection of over 50 workshops split into a total of 12 different sections you'll be able to choose your own unique GOV experience for your own needs. Our workshop list isn't ready yet, but expect a full selection by early February!
        a.btn.btn-block.btn-default(href="/workshops") Explore Workshops
    hr.featurette-divider
    .row.featurette
      .col-sm-7
        h2.featurette-heading
          | Listen 
          span.text-muted to inspiring leaders and peers
        p We're working our tails off to find you the best and brightest from our communities to motivate your dreams, uplift your spirit, and help you make a better tomorrow. But you won't just learn from speakers, elders, or workshop facilitators, you'll also learn from your peers and other delegates to the conference as well, just as they learn from you. We all carry a story, how will you share yours?
        p In 2013 we hosted the likes of J.R. LaRose, Evan Adams, Grand Chief Stewart Phillip, Linsay Willier. The schedule hasn't been confirmed for this year yet, so please stay tuned!
      .col-sm-5(style="text-align: center")
        img.img-rounded.lazy(data-original="/img/index/listen.jpg", style="max-width: 100%;")
    hr.featurette-divider
    .row.featurette
      .col-sm-5(style="text-align: center")
        img.img-rounded.lazy(data-original="/img/index/connect.jpg", style="max-width: 100%;")
      .col-sm-7
        h2.featurette-heading
          | Connect 
          span.text-muted and prepare for the future
        p A gathering of this size means an incredible opportunity to find new peers, employers, educators, teachers, elders, and most of all, friends. A bustling career and education fair, an elders lounge, and more will be ready for you to explore.
        p Then, return to your community with newfound skills, a broader world view, and new friends to keep in touch with.
    hr.featurette-divider