extends layout

block content
	.row-fluid
		.span8.offset2
			h1 Gathering Our Voices

			p The Gathering Our Voices Aboriginal Youth Conference is hosted by the BC Association of Aboriginal Friendship Centres (BCAAFC) and their Provincial Aboriginal Youth Council (BCAAFC - PAYC). The Conference will be held from March 19-22, 2013 in Penticton, BC at the Penticton Trade and Convention Centre.	 Exploring this year’s theme of ‘Health’ up to 2000 youth (14-24years), chaperones, presenters and guests will network and learn new techniques and skills in workshops, share knowledge through cultural activities, witness performances by talented individuals, explore career and education possibilities and participate in sports and recreational activities.

			p For more information about the conference 
				a(href="http://www.bcaafc.com/newsandevents/gathering-our-voices") visit our main site.

	.row-fluid
		.span8.offset2
			h2 Registration is Open
			p
				b Registration Fee:
				| $175/participant (including youth, young adults, and chaperones)
			p
				b Group Incentive: 
				| For every 5 group members registered, the 6th member is free!

	.row-fluid
		if group
			.span8.offset2
				a.btn.btn-large.btn-success.btn-block(href="/account") Add new members or edit group information
		else
			.span8.offset2
				hr
				.container
					.row-fluid
						.span4.loginForm(style="text-align: center")
							form.form(action="/api/login", method='post', style="margin-bottom: 0px")
								.control-group
									label.control-label Email
									.controls
										input(type='text', name='email', placeholder="example@bcaafc.com", required)
								.control-group
									label.control-label Password
									.controls
										input(type='password', name='pass', placeholder="", required, data-content="Did you forget? <a href='/account/startRecovery'>Click here</a>", data-html='true')
								.control-group
									label.control-label 
									.controls
										input.btn.btn-primary(type='submit', value="Log In")
						.span4.register(style="text-align: center")
							p Not signed up?
							p Want to go to this year's Gathering Our Voices Conference?
							br
							br
							br
							a.btn.btn-inverse.btn-block(href="/account/signup") Register Now
				hr
	.row-fluid
		.span8.offset2
			h1 Registration Requirements
			p Please note that you'll need the following information for each delegate:
			ul
				li First & Last names
				li Medical Numbers (Care cards)
				li Birth Dates
				li Any medical conditions or food allergies
				li Emergency Contact Information (Name & Phone number)
				li Cell numbers for all Chaperones (for emergencies)
