extends templates/layout

block content
  //- img(src="/img/gov.png", style="display: block; margin-left: auto; margin-right: auto; height: 300px; text-align: center")
  .container
    .row
      .col-sm-4
        img.img-circle(src="/img/bg/1.jpg", style="height: 150px")
        h2 Register!
        p You really should! It'll be super fun!
        p
          a.btn.btn-default(href="#") Register
      .col-sm-4
        img.img-circle(src="/img/bg/1.jpg", style="height: 150px")
        h2 Register!
        p You really should! It'll be super fun!
        p
          a.btn.btn-default(href="#") Register
      .col-sm-4
        img.img-circle(src="/img/bg/1.jpg", style="height: 150px")
        h2 Register!
        p You really should! It'll be super fun!
        p
          a.btn.btn-default(href="#") Register
  .container.marketing
    hr.featurette-divider
    .row.featurette
      .col-md-7
        h2.featurette-heading
          | Seven Generations.
          span.text-muted Hope for the future.
        p.lead Learn from elders, teachers, artists, philosophers, and mentors about how we save fight to save our planet by considering our children and their descendants.
      .col-md-5
        img(src="/img/bg/1.jpg", style="height: 300px")
    hr.featurette-divider
    .row.featurette
      .col-md-5
        img(src="/img/bg/1.jpg", style="height: 300px")
      .col-md-7
        h2.featurette-heading
          | Seven Generations.
          span.text-muted Hope for the future.
        p.lead Learn from elders, teachers, artists, philosophers, and mentors about how we save fight to save our planet by considering our children and their descendants.
    hr.featurette-divider