doctype 5
html
	head
		title Gathering Our Voices 2013 - #{title}
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		
		// Info for Engines
		meta(name="description", content="Gathering Our Voices is an annual conference in BC for Aboriginal Youth. This years conference theme will focus on Health and will be held from March 19-22, 2013 in Penticton, BC.")
		meta(name="author", content="Andrew Hobden")


		// HTML5 shim, because IE's are horrible.
		//if lt IE 9
			script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')

		// CSS Stuff
		link(href="//netdna.bootstrapcdn.com/bootswatch/2.1.1/united/bootstrap.min.css", rel="stylesheet")


		style(type="text/css")
			.qr {
				position: absolute;
				right: 0%;
				width: 150px;
				height: 150px;
			}

		// Google Analytics Tracker
		script(type="text/javascript")
				var _gaq = _gaq || [];
				_gaq.push(['_setAccount', 'UA-35619549-1']);
				_gaq.push(['_trackPageview']);

				(function() {
					var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
					ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
					var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
				})();
		

	body
		.container-fluid
			.row-fluid
				.span2
					img(src="/img/logos/bcaafc.png")
				.span8
					hr
					h1.pull-right BC Association of Aboriginal Friendship Centres
					p.pull-right= new Date().toLocaleDateString()
			.row-fluid
				.span6.offset4

			block content
			
			.row-fluid
				hr
				div.muted(style="text-align: center")
					p #200 – 506 Fort Street, Victoria, BC   V8W 1E6
					p Phone 1-800-990-2432   Fax (250) 388-5502 
					p Email gatheringourvoices@bcaafc.com

		script(src="http://code.jquery.com/jquery-1.9.1.min.js")
		:coffeescript
			$ ->
				window.print()