extends templates/layout

block content
  .container.marketing
    .row.featurette
      .col-sm-5
        img.img-rounded(src="/img/news/emcee.jpg", style="width: 100%")
      .col-sm-7
        h2.featurette-heading
          span.text-muted Kim Harvey 
          | chosen as Emcee!
        p.lead December 13th, 2013 
        p Kim Harvey is from the Tshilqot'in, Okanagan, Kootenay and Carrier Nations. She is a youth champion, facilitator, artist and actor.  She completed the UBC's BFA Acting program in 2008. Past theatre highlights include; "Rez Sisters," "Ernestine Shuswap Get's Her Trout," "The Laurier Memorial," “Salmon Row,” the Governor General's Award winning play and National Tour of "Where the Blood Mixes," and Gordon Tootoosis final show “Gordon Winter.”  Kim was also a co-host on the Aboriginal People’s Television Networks show, “First Talk” where she represented the Seventh Generation on topics within the Canadian Aboriginal social context.  She has done voice work with the Healthy Aboriginal Network, she was a host on the PHSA Aboriginal Health Program's groundbreaking youth website "Cuystwi", and is the creator, writer and host of a brand new web series entitled "The Indigenous Youth Role Models Project."  Kim has worked with the Urban Native Youth Association, the Knowledgeable Aboriginal Youth Association, and is currently the Youth Engagement Coordinator for the Representative for Children and Youth.  This is Kim's second time hosting Gathering Our Voices and feels so excited to be a part of this incredible conference as an Emcee once again.  


    hr.featurette-divider

    .row.featurette
      .col-sm-5
        img.img-rounded(src="/img/news/rampingUp.jpg", style="width: 100%")
      .col-sm-7
        h2.featurette-heading
          span.text-muted Ramping up   
          | for GOV 2014!
        p.lead November 4th, 2013 
        p The GOV team is busy putting together this year's conference! We're looking for a range of fantastic facilitators, exciting exhibitors, ecstatic employees, and most of all volunteers!

    hr.featurette-divider

    .row.featurette
      .col-sm-5
        img.img-rounded(src="/img/news/newSite.jpg", style="width: 100%")
      .col-sm-7
        h2.featurette-heading
          span.text-muted A  
          | Redesigned Website!
        p.lead November 4th, 2013 
        p Welcome to the new Gathering Our Voices Website! We've redesigned it to make it faster, more beautiful, and totally mobile friendly in preperation for GOV 2014.
        p If you have any issues using the site, or find any grammatical errors, please send them my way, I'm ahobden@bcaafc.com.

    hr.featurette-divider
