extends templates/layout

block content
  .container.marketing
    .row.featurette
      .col-sm-5
        img.img-rounded(src="/img/news/emcee.jpg", style="width: 100%")
      .col-sm-7
        h2.featurette-heading
          span.text-muted A Call   
          | for an Emcee!
        p.lead November 15th, 2013 
          span.text-muted (Posted By: Andrew, site admin)
        p Seeking Aboriginal Emcee from the Greater Vancouver Area to Host the Gathering Our Voices Aboriginal Youth Conference March 18-21, 2014 in Vancouver, BC. Gathering Our Voices brings together Aboriginal youth 14-24 years old to learn new skills, network, share knowledge, engage in cultural activities and participate in sports and recreational activities. The Emcee will lead plenary sessions, host the opening and closing ceremonies, and attend other special events of the conference throughout the 4 days. 
        br
        a(target="_blank", href="/documents/emcee.pdf") Poster & Instructions (PDF)
        br
        a(target="_blank", href="/documents/emcee.docx") Application (DOCX)


    hr.featurette-divider

    .row.featurette
      .col-sm-5
        img.img-rounded(src="/img/news/rampingUp.jpg", style="width: 100%")
      .col-sm-7
        h2.featurette-heading
          span.text-muted Ramping up   
          | for GOV 2014!
        p.lead November 4th, 2013 
          span.text-muted (Posted By: Andrew, site admin)
        p The GOV team is busy putting together this year's conference! We're looking for a range of fantastic facilitators, exciting exhibitors, ecstatic employees, and most of all volunteers!

    hr.featurette-divider

    .row.featurette
      .col-sm-5
        img.img-rounded(src="/img/news/newSite.jpg", style="width: 100%")
      .col-sm-7
        h2.featurette-heading
          span.text-muted A  
          | Redesigned Website!
        p.lead November 4th, 2013 
          span.text-muted (Posted By: Andrew, site admin)
        p Welcome to the new Gathering Our Voices Website! We've redesigned it to make it faster, more beautiful, and totally mobile friendly in preperation for GOV 2014.
        p If you have any issues using the site, or find any grammatical errors, please send them my way, I'm ahobden@bcaafc.com.

    hr.featurette-divider
