extends templates/layout

block content
  .container.marketing
    .row.featurette
      .col-sm-5
        img.img-rounded(src="/img/news/rampingUp.jpg", style="width: 100%")
      .col-sm-7
        h2.featurette-heading
          span.text-muted Ramping up   
          | for GOV 2014!
        p.lead November 4th, 2013 
          span.text-muted (Posted By: Andrew, site admin)
        p DIS IS SUM CHANGES HURR

    hr.featurette-divider

    .row.featurette
      .col-sm-5
        img.img-rounded(src="/img/news/newSite.jpg", style="width: 100%")
      .col-sm-7
        h2.featurette-heading
          span.text-muted A  
          | Redesigned Website!
        p.lead November 4th, 2013 
          span.text-muted (Posted By: Andrew, site admin)
        p Welcome to the new Gathering Our Voices Website! We've redesigned it to make it faster, more beautiful, and totally mobile friendly in preperation for GOV 2014.
        p If you have any issues using the site, or find any grammatical errors, please send them my way, I'm ahobden@bcaafc.com.

    hr.featurette-divider
