extends templates/layout

block content
  .container.marketing
  
    .row.featurette
      .col-sm-5
        img.img-rounded.lazy(data-original="/img/news/workshops.jpg", style="max-width: 100%")
      .col-sm-7
        h2.featurette-heading
          span.text-muted It's time! 
          | Workshop schedule released!
        p.lead February 11th, 2014
        p The full workshop schedule has been released! Please check out <a href="/workshops">this page</a> for the listing. Note that in order to sign up for workshops each delegate will need their full personal information complete, you can verify this on your <a href="/account">account</a> page. We hope you find something that stirs your interest and peaks your excitment!

    hr.featurette-divider
  
    .row.featurette
      .col-sm-5
        img.img-rounded.lazy(data-original="/img/venues/orpheum.jpg", style="max-width: 100%")
      .col-sm-7
        h2.featurette-heading
          span.text-muted Important Update: 
          | Opening Ceremonies Location Changed!
        p.lead January 31st, 2013
        p The location of the opening ceremonies for Gathering Our Voices 2014 has changed! It will now be held at the Orpheum Theatre on 601 Smithe St, Vancouver, BC with a reception. If you're curious where the Orpheum is, please refer to our <a href="/venues">Venues</a> page.

    hr.featurette-divider
  
    .row.featurette
      .col-sm-5
        img.img-rounded.lazy(data-original="/img/news/entertainer.jpg", style="max-width: 100%")
      .col-sm-7
        h2.featurette-heading
          span.text-muted A call 
          | for Entertainers!
        p.lead December 13th, 2013 
        p Gathering Our Voices 2014 is seeking talented young Entertainers located near Vancouver to perform at the Youth Dance on March 20th, 2014. Want to apply? All we need from you is a filled out application (below) and a <5 minute video of your skills! The stage is set and it's waiting for you!
        .btn-group
          a.btn.btn-default(href="/documents/entertainers_application.docx", target="_blank") Application Form (docx)
          a.btn.btn-default(href="/documents/entertainers_application.pdf", target="_blank") (PDF)
          a.btn.btn-default(href="/documents/entertainers_poster.pdf", target="_blank") Poster

    hr.featurette-divider
  
    .row.featurette
      .col-sm-5
        img.img-rounded.lazy(data-original="/img/news/emcee.jpg", style="max-width: 100%")
      .col-sm-7
        h2.featurette-heading
          span.text-muted Kim Harvey 
          | chosen as Emcee!
        p.lead December 13th, 2013 
        p Kim Harvey is from the Tshilqot'in, Okanagan, Kootenay and Carrier Nations. She is a youth champion, facilitator, artist and actor.  She completed the UBC's BFA Acting program in 2008. Past theatre highlights include; "Rez Sisters," "Ernestine Shuswap Get's Her Trout," "The Laurier Memorial," “Salmon Row,” the Governor General's Award winning play and National Tour of "Where the Blood Mixes," and Gordon Tootoosis final show “Gordon Winter.”  Kim was also a co-host on the Aboriginal People’s Television Networks show, “First Talk” where she represented the Seventh Generation on topics within the Canadian Aboriginal social context.  She has done voice work with the Healthy Aboriginal Network, she was a host on the PHSA Aboriginal Health Program's groundbreaking youth website "Cuystwi", and is the creator, writer and host of a brand new web series entitled "The Indigenous Youth Role Models Project."  Kim has worked with the Urban Native Youth Association, the Knowledgeable Aboriginal Youth Association, and is currently the Youth Engagement Coordinator for the Representative for Children and Youth.  This is Kim's second time hosting Gathering Our Voices and feels so excited to be a part of this incredible conference as an Emcee once again.  

    hr.featurette-divider

    .row.featurette
      .col-sm-5
        img.img-rounded.lazy(data-original="/img/news/rampingUp.jpg", style="max-width: 100%")
      .col-sm-7
        h2.featurette-heading
          span.text-muted Ramping up   
          | for GOV 2014!
        p.lead November 4th, 2013 
        p The GOV team is busy putting together this year's conference! We're looking for a range of fantastic facilitators, exciting exhibitors, ecstatic employees, and most of all volunteers!

    hr.featurette-divider

    .row.featurette
      .col-sm-5
        img.img-rounded.lazy(data-original="/img/news/newSite.jpg", style="max-width: 100%")
      .col-sm-7
        h2.featurette-heading
          span.text-muted A  
          | Redesigned Website!
        p.lead November 4th, 2013 
        p Welcome to the new Gathering Our Voices Website! We've redesigned it to make it faster, more beautiful, and totally mobile friendly in preperation for GOV 2014.
        p If you have any issues using the site, or find any grammatical errors, please send them my way, I'm ahobden@bcaafc.com.

    hr.featurette-divider
