extends layout

block content
	.row-fluid
		.span8
			:markdown
				# Privacy Policy
				Revision 1.0

				September 7, 2012

				The BC Association of Aboriginal Friendship Centres and the Gathering Our Voices conference team have a commitment to the protection of your information.

				## Personal Information
				Any information you submit as part of your registration will be accessible to the Gathering Our Voices conference coordinator and assistant coordinator(s). This information will be used for the express purposes of conference planning and organisation, and to ensure the safety of all delegates, volunteers, and staff. We do not distribute this data externally under any circumstances without your permission. Your provided email address and/or phone numbers may be used to contact you by the Gathering Our Voices conference team.

				## Third parties
				The BCAAFC conference team may disclose your name, age, gender, medical information, and emergency contact information to health professionals and cooking staff (in the case of food allergies) at the convention.

				This will be to ensure the readiness of the health and safety teams in the event of a medical emergency.

				## Internal Stat Tracking
				To keep an accurate count of our unique visitors we collect a minimal amount of data from visitors to our online registration page. Like most sites, each time you loads a page, your IP address is recorded to identify an accurate count of unique visitors. Your IP address is not disclosed or monitored, and is not used in any way other than to monitor whether or not you are a unique or past visitor in our monthly statistics report.

				## Digital Archives
				At the end of the conference all delegate information is moved to a digital archive to help next year’s conference team anticipate the needs of future delegates. This allows the Gathering Our Voices conference coordinator to organize facilities, meals, workshops, and other resources with greater accuracy and efficacy.

				## BC Association of Aboriginal Friendship Centres
				The Gathering Our Voices conference team is hosted by the BC Association of Aboriginal Friendship Centres. Located in Victoria, British Columbia, the BCAAFC provides administrative, logistical, and technical support the GOV conference team. All BCAAFC employees are bound by a strict confidentiality policy regarding the protection and distribution of anonymous and personal data.

				This policy may be amended in the future.