extends templates/layout

block content
  .container
    form.form-horizontal(style="text-align: center", method="POST", action="/login")
      .row
        fieldset
          legend Login Details
          .col-sm-4.col-sm-offset-1
            .form-group
              label Email Address
              input#email.form-control(type="email", name="email", placeholder="someone@somewhere.ca", autofocus)
          .col-sm-4.col-sm-offset-1
            .form-group
              label Password
              input.form-control(type="password", name="password", placeholder="°°°°°°°°")
              small If you forgot your password, don't worry it's ok. Enter your email above, then click 
                a#recover here
      .row
        .col-sm-5.col-sm-offset-3
          .form-group
            a.btn.btn-info.btn-block(data-toggle="collapse", data-target="#new") 
              i.fa.fa.fa-plus
              |  This is a new group
      #new.collapse
        .row
          fieldset
            legend Group Details
            p Welcome, please fill out your Email and Password above before continuing and completing the information below.
            p.text-muted Fields with a star (*) are required.
            .col-sm-4.col-sm-offset-1
              .form-group
                label Primary Contact Name*
                input.form-control(type="text", name="name", placeholder="Foo Bar", required)
              .form-group
                label Affiliation*
                input.form-control(type="text", name="affiliation", placeholder="Some Organization", required)
              .form-group
                label Street Address*
                input.form-control(type="text", name="address", placeholder="123 Fake St.", required)
              .form-group
                label City*
                input.form-control(type="text", name="city", placeholder="Vancouver", required)
              .form-group
                label Region*
                select.form-control(name="region", required)
                  option(value="") Please choose...
                  option(value="North") North
                  option(value="Interior") Interior
                  option(value="Fraser") Fraser
                  option(value="Vancouver Coastal") Vancouver Coastal
                  option(value="Vancouver Island") Vancouver Island
                  option(value="Out of Province") Out of Province
            .col-sm-4.col-sm-offset-1
              .form-group
                label Province*
                select.form-control(name="province", required)
                  option(value="") Please choose...
                  option(value="British Columbia") British Columbia
                  option(value="Alberta") Alberta
                  option(value="Saskatchewan") Saskatchewan
                  option(value="Manitoba") Manitoba
                  option(value="Ontario") Ontario
                  option(value="Quebec") Quebec
                  option(value="New Brunswick") New Brunswick
                  option(value="Nova Scotia") Nova Scotia
                  option(value="Prince Edward Island") Prince Edward Island
                  option(value="Newfoundland and Labrador") Newfoundland and Labrador
                  option(value="Nunavut") Nunavut
                  option(value="Northwest Territories") Northwest Territories
                  option(value="Yukon") Yukon
                  option(value="Other (Outside Canada)") Other (Outside Canada)
              .form-group
                label Postal Code*
                input.form-control(type="text", name="postalCode", placeholder="A1B 2C3", required)
              .form-group
                label Daytime Phone #*
                input.form-control(type="text", name="phone", placeholder="(123) 456-7980", required)
              .form-group
                label Fax # (Optional)
                input.form-control(type="text", name="fax", placeholder="(123) 456-7890")
              .form-group
                label Group Type*
                select.form-control(name="affiliationType", required)
                  option(value="") Please Choose...
                  option(value="Friendship Centre") Friendship Centre
                  option(value="Off-reserve") Off-reserve
                  option(value="On-reserve") On-reserve
                  option(value="Other") Other
        .row
          .col-sm-4
          .form-group.col-sm-4
            label And your password again*
            input.form-control(type="password", name="passwordConfirm", placeholder="Password Confirmation")

      .row
        .col-sm-5.col-sm-offset-3
          .form-group
            button.btn.btn-primary.btn-block(type="submit")
              i.fa.fa.fa-check
              |  Log In

  :coffeescript
    $('#recover').click ->
      email = $('#email').val()
      $.get "/recover/#{email}", (data) ->
        alert data