extends templates/layout

block content
  .container.marketing
    .row.featurette
      .col-sm-7
        h2.featurette-heading
          | Hyatt Regency Hotel 
          span.text-muted Vancouver
        p.lead 655 Burrard Street, Vancouver, B.C.
          a(target="_blank", href="http://goo.gl/maps/waHYK")  -- Map
        p Tel: 1-888-421-1442
        p Rates: Single/Double $189.00, Triple $224, Quad $259
          br
          span.text-muted (Available until February 16)
        p Amenities: 24hr Fitness Gym, Outdoor Heated Pool, Whirlpool, Restaurants
        p Reservation Code: Aboriginal Youth Conference
        br
        a(target="_blank", href="https://resweb.passkey.com/go/gov2014") Book at Conference Rate
        br
        a(target="_blank", href="http://vancouver.hyatt.com/en/hotel/home.html") Website
      .col-sm-5(style="text-align: center")
        img.img-rounded(src="/img/venues/hyatt.jpg")

    hr.featurette-divider

    .row.featurette
      .col-sm-5(style="text-align: center")
        img.img-rounded(src="/img/schedule/reg.jpg", style="width: 100%")
      .col-sm-7
        h2.featurette-heading
          | Fairmont Hotel 
          span.text-muted Vancouver
        p.lead 900 West Georgia Street, Vancouver, B.C.
          a(target="_blank", href="http://goo.gl/maps/cxGJl")  -- Map
        p Tel: 1-800-441-1414
        p Rates: Single/Double $189.00 ($35/Additional Adult)
          br
          span.text-muted (Available until February 16)
        p Amenities: Fitness Centre, Indoor Pool, Restaurants
        p Reservation Code: Gathering Our Voices Aboriginal Youth Conference
        br
        a(target="_blank", href="https://resweb.passkey.com/go/gatheringourvoices") Book at Conference Rate
        br
        a(target="_blank", href="http://www.fairmont.com/hotel-vancouver/") Website
    
    hr.featurette-divider