extends layout

block content
	.row-fluid
		h1 Workshop Registration
		p Welcome to the 2013 Gathering Our Voices workshop registration site! Here you can choose from 50 different workshops for your youth to attend. Please note that before you can register your group members you need to have all of your group information completed and registration fees submitted.

		p Click on the links at the bottom of the page to see a list of the workshops that will be offered on Wednesday and Thursday of the conference. Full descriptions of these workshops can be found through these links by selecting the “more info” button or by downloading our Workshop Agenda by clicking <a href="/workshops.pdf">here.</a>

		p Workshops are listed by session number. Please note that workshops are offered on Wednesday and Thursday and are split into morning and afternoon sessions. Each session is 3 hours in length. Youth and young adults can register for one 3 hour workshop OR two 1.5 hour workshops for each morning and afternoon. The diagram below shows how the morning and afternoon sessions are arranged. Please note that workshop priority is for youth and young adults. At this time we are not able to register chaperones in any of the workshops due to limited capacities. If you have any questions about the workshop registration process please feel free to call or email our workshop registration coordinator, Vanessa Sloan Morgan, at vsloanmorgan@bcaafc.com or (250) 388-5522. If you're having troubles, please check out our <a href="https://www.youtube.com/watch?v=wCNiY37i3iE">tutorial here.</a>

		div(style="text-align: center;")
			img(src="/img/sessions.png")
			br
			br
		div(style="text-align: center;")
			.row-fluid
				.span6
					a.btn.btn-primary(href="/workshops/wednesday") Wednesday, March 20, 2013
				.span6
					a.btn.btn-primary(href="/workshops/thursday") Thursday, March 21, 2013