// This is the --inside-- of a model used in /admin/index.
form.form-horizontal(action="/api/editGroupNotes", method='post', style="margin-bottom: 0px")
	.modal-header
		.close(data-dismiss='modal', aria-hidden='true')
			| x
		h3#groupLabel Group Notes
	.modal-body
		// Hidden internal data
		div(style="display: none")
			input(type='text', name='id', required, value="#{group._id}")
		// Member Info
		fieldset
			legend #{group.groupInformation.affiliation} Notes
			.control-group
				label.control-label Reg Date
				.controls
					p #{new Date(group.internal.regDate).toString()}
			.control-group
				label.control-label Status
				.controls
					select(name="status", required)
						option(value="New group - Unchecked", selected=(group.internal.status == 'New group - Unchecked')) New group - Unchecked
						option(value="Edited - Unchecked", selected=(group.internal.status == 'Edited - Unchecked')) Edited - Unchecked
						option(value="New group - Reviewed", selected=(group.internal.status == 'New group - Reviewed')) New group - Reviewed
						option(value="Group waiting for info", selected=(group.internal.status == 'Group waiting for info')) Group waiting for info
						option(value="Group - Complete", selected=(group.internal.status == 'Group - Complete')) Group - Complete
			.control-group
				label.control-label Youth In Care
				.controls
					select(name="youthInCare", required)
						option(value="Have not asked", selected=(group.internal.youthInCare == 'Have not asked')) Have not asked
						option(value="Have asked", selected=(group.internal.youthInCare == 'Have asked')) Have asked
						option(value="Youth coming to YIC Dinner", selected=(group.internal.youthInCare == 'Youth coming to YIC Dinner')) Youth coming to YIC Dinner
						option(value="No youth coming to YIC", selected=(group.internal.youthInCare == 'No youth coming to YIC')) No youth coming to YIC
			.control-group
				label.control-label Workshop Reg
				.controls
					select(name="workshopReg", required)
						option(value="Not sent", selected=(group.internal.workshopReg == 'Not sent')) Not sent
						option(value="Sent", selected=(group.internal.workshopReg == 'Sent')) Sent
						option(value="Complete", selected=(group.internal.workshopReg == 'Complete')) Complete
			.control-group
				label.control-label Payment Status
				.controls
					select(name="paymentStatus", required)
						option(value="Need to contact", selected=(group.internal.paymentStatus == 'Need to contact')) Need to contact
						option(value="Waiting", selected=(group.internal.paymentStatus == 'Waiting')) Waiting
						option(value="Payment in mail", selected=(group.internal.paymentStatus == 'Payment in mail')) Payment in mail
						option(value="Invoice Sent", selected=(group.internal.paymentStatus == 'Invoice Sent')) Invoice Sent
						option(value="Payment recieved", selected=(group.internal.paymentStatus == 'Payment recieved')) Payment recieved
			.control-group
				label.control-label Payment Type
				.controls
					select(name='paymentType')
						option(value='') Select a value...
						option(value='Cheque', selected=(group.groupInformation.paymentType == 'Cheque')) Cheque
						option(value='Money Order', selected=(group.groupInformation.paymentType == 'Money Order')) Money Order
						option(value='Please Invoice', selected=(group.groupInformation.paymentType == 'Please Invoice')) Please Invoice
						option(value='Credit Card', selected=(group.groupInformation.paymentType == 'Credit Card')) Credit Card
						option(value='Paypal', selected=(group.groupInformation.paymentType == 'Paypal')) Paypal

					br
					small Note that this is group-selected.
			.control-group
				label.control-label Notes
				.controls
					textarea(type='text', name='notes', cols="5", rows="5")
						| #{group.internal.notes}

	.modal-footer
		button.btn(data-dismiss='modal', aria-hidden='true') Cancel
		input.btn.btn-primary(type='submit', value='Save Notes')